 @import "tailwindcss";
 @plugin './hero.ts';

:root{
    --primary: #FCF8F8;
    --secondary: #FBEFEF;
    --pink1: #F9DFDF;
    --pink2: #F5AFAF;
}

*{
    font-family: var(--font-kanit);
}

body{
    /*background-image: linear-gradient( 120deg, var(--pink2), var(--primary))*/
}

 @source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));
